*{
    margin: 0px;
}

.header{
    
    height: 250px;
    width: 100%;
    border-top: 10px double rgb(233, 229, 229);
    border-bottom: 10px double rgb(233, 229, 229);
    position: fixed;
    background-image: linear-gradient(to right, rgb(6, 70, 78), white);
    z-index: 1;
}

.topDireita{
    width: 45%;
    height: 100%;
    display: block;
    float: right;
    background-image: url("../imagens/balanca.png");   
    background-repeat: no-repeat;  
    -webkit-mask-image: linear-gradient(to right, transparent, darkcyan 70%);
    position: relative;
    
}

.topEsquerda{
    width: 50%;
    height: 100%;
    font-size: 55px;
    color: white;
    text-shadow: 5px 5px 10px black;
    display: flex;
    align-items: center;
    float: left;
    position: relative;
    margin-left: 5%;
}

.formularios{
    top: 325px;
    position: absolute;
    height: 250px;
    width: 100%;
}

.formularioDados{
    margin-left: 15%;
    width: 29,5%;
    height: 225px;
    font-size: 20px;
    color: rgb(6, 70, 78);
    display: block;
    position: relative;
    float: left;
}

#peso{
    width: 400px;
    height: 35px;
    border-color: rgb(6, 70, 78);
    border-width: 1px;
    font-size: 20px;
    color: rgb(78, 78, 78);
}

#altura{
    width: 400px;
    height: 35px;
    border-color: rgb(6, 70, 78);
    border-width: 1px;
    font-size: 20px;
    color: rgb(78, 78, 78);
}

#btnCalcular{
    background-color: rgb(6, 70, 78);
    border: none;
    color: white;
    display: inline-block;
    float: right;
    width: 150px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
}

.resultado{
    margin-left: 60%;
    width: 9.3%;
    height: 225px;
    font-size: 20px;
    color: rgb(6, 70, 78);
    display: block;
    position: relative;
}

.alerta{
    margin-left: 60%;
    width: 30%;
    height: 225px;
    font-size: 20px;
    color: rgb(6, 70, 78);
    display: block;
    position: relative;
}

.imc{
    font-size: 50px;
    color: rgb(40, 140, 153);
}

.observacao{
    font-size: 14px;
    color: black;
    float: right;
}